<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>
<body>
    <h1>Edit Product</h1>
    <form action="/Products/<%=product._id%>?_method=PUT" method="POST">
    <label for="name">Product name</label>
    <input type="text" name="name" value="<%=product.name%>">
    <label for="price">Product price</label>
    <input type="number" name="price" value="<%=product.price%>">
    <label for="name">Product name</label>
    <select name="category" name="category">
        <option value="fruit" <%= product.category==='fruit' ? 'selected':"" %>>fruits</option>
        <option value="vegetable"<%= product.category==='vegetable' ? 'selected':"" %>>vegetable</option>
        <option value="dairy" <%= product.category==='dairy' ? 'selected':"" %>>dairy</option>
    </select>
    <input type="submit">
    </form>
</body>
</html>