<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Product</title>
</head>
<body>
    <h1><%=product.name%></h1>
    <ul>
        
        <li> Price <%=product.price%></li>
       <li>Category <%=product.category%></li>
    </ul>
    
    <a href="/Products">Go to all products</a>
    <a href="/Products/edit/<%=product.id%>">Edit Product</a>
    <form action="/Products/<%=product.id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>


    
</body>
</html>